<li class="page-item<%= ' active' if page.current? %>">
  <% if page.current? %>
    <span class="page-link">
      <%= page %>
    </span>
  <% else %>
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link' %>
  <% end %>
</li>
